MVVM.xcodeproj/xcuserdata
MVVM.xcodeproj/project.xcworkspace
MVVM.xcworkspace/xcuserdata

*.xcuserstate

Carthage/Build
Carthage/Checkouts
Cartfile.resolved

.idea
.DS_Store

Pods/

.githooks/post-checkout
.githooks/post-commit
.githooks/post-merge
.githooks/pre-push

AutoMockable.generated.swift

Podfile.lock

fastlane/report.xml
fastlane/README.md
fastlane/test_output/

DerivedData/

Logs/
